.redondear{
    border-radius:  50% 50%;
    height: 200px;
    width: 300px;


    @media(min-width:500px){
            height: 300px;
            width: 400px;
            
    }
    
 }

 .grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 20px 20px 20px;
    align-items: center;
    align-content: center;
   justify-items: center;

    @media(min-width:768px){
        
           grid-template-columns: repeat(2,1fr);
          }


          @media(min-width:1024px){
            
                grid-template-columns: repeat(3,1fr);           
          }

 }

 .card{
    background-color: rgb(249, 232, 232);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    gap: 20px;

    @media(min-width:768px){
            width: 320;
          }

          @media(min-with:1024px){
                 width: 330px;
          }

 }

 .grid-container2{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px 20px 20px 20px;
    align-items: center;
    align-content: center;
    
    text-align: justify;


    @media(min-width:1024px){
            display: grid;
            grid-template-columns: 1fr 2fr;
            
    }

 }

 .card4{
    height: 320px;

    @media(min-width:500px){
         height: 320px;
         }
 }
